<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="@Url.Content("~/Scripts/xheditor/jquery/jquery-1.7.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/xheditor/xheditor-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/xheditor/xheditor_lang/zh-cn.js")" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/easyui/jquery.easyui.min.js")"></script>

    <script src="@Url.Content("~/Scripts/upload/ajaxfileupload.js")"></script>
    <script src="@Url.Content("~/Scripts/pharos.js")"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")"></script>

    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/easyui/metro/easyui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/easyui/icon.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/easyui/color.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/default/backend.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
