<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/easyui/jquery.easyui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/upload/ajaxfileupload.js")"></script>
    <script src="@Url.Content("~/Scripts/pharos.js")"></script>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/easyui/metro/easyui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/easyui/icon.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/easyui/color.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/default/backend.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
