@{
    ViewBag.Title = "票券管理";
}


<table id="ticket"></table>

<div id="toolbar">
    <a class="easyui-linkbutton" data-options="iconCls: 'icon-add'" onclick="create()">添加新票</a>
</div>

<script type="text/javascript">
    $ticket = $("#ticket");
    var ticketstatus = [];
    @foreach (var x in EnumHelper.GetList<OnOffState>())
    {
        @:ticketstatus.push({ value: '@x.Value', text: '@x.Text' });
    }


    $ticket.datagrid({
        rownumbers: true,
        fit: true,
        border: false,
        singleSelect:true,
        url: "@Url.Action("GetTickets")",
        toolbar: '#toolbar',
        columns: [[
            {
                field: 'Url', title: '缩略图', width: 220, align: 'center', formatter: function (value, row, index) {
                    if (value) {
                        return "<img src=\""+value+"_thumb.jpg\" height='100'>";
                    }
                    return "";
                }
            },
            { field: 'Name', title: '票名', width: 250},
            { field: 'CurPrice', title: '当前价', width: 70},
            { field: 'PrePrice', title: '原价', width: 70},
            { field: 'Status', title: '状态', width: 50, formatter: function (value, row, index) { return pharos.json.getArrayValue(ticketstatus, 'value', value, 'text', value); } },
            { field: 'OpState', title: '操作', width: 100, formatter: opFormat }
        ]]
    })

    function create() {
        pharos.easyui.dialog.topOpen("createTicket", {
            width: 900,
            height: 660,
            resizable: false,
            modal: true,
            title: '添加新票',
            content: '<iframe scrolling="auto" frameborder="0" src="@Url.Action("EditTicket")" style="width:100%;height:99%;"></iframe>',
            buttons: [{
                text: '保存',
                iconCls: 'icon-save',
                handler: function () { window.top.$("body").data("createForm")(".default-form #ticketForm").submit(); }
            }]
        });
    }

    function editticket(id) {
        pharos.easyui.dialog.topOpen("editTicket", {
            width: 900,
            height: 660,
            resizable: false,
            modal: true,
            title: '修改票',
            content: '<iframe scrolling="auto" frameborder="0" src="@Url.Action("EditTicket")'+'?id='+id+'" style="width:100%;height:99%;"></iframe>',
            buttons: [{
                text: '保存',
                iconCls: 'icon-save',
                handler: function () { window.top.$("body").data("editForm")(".default-form #ticketForm").submit(); }
            }]
        });
    }

    function removeticket(id) {
        pharos.easyui.confirm("确认", "确认删除吗", function () {
            $.post("@Url.Action("RemoveTicket")/" + id, function () {
                $ticket.datagrid("reload");
            });
        })
    }


    function opFormat(value, row) {
        var html = "";
        html += "<a href=\"javascript:void(0)\" onclick=\"editticket('" + row.ID + "')\">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;";
        html += "<a href=\"javascript:void(0)\" onclick=\"removeticket('" + row.ID + "')\">删除</a>";
        return html;
    }

</script>
