@model Lunson.Domain.Entities.Link
@{
    ViewBag.Title = "友情链接编辑";
    //var activeStates = ViewBag.activeStates as List<DropdownItem>;
    var activeStates = EnumHelper.GetList(typeof(ActiveState));
    activeStates.ForEach(a => { if (a.Value == ((int)Model.ActiveState + ""))a.IsSelected = true; });
}

<div class="default-form">
    <h1>基本信息</h1>
    <div class="content">
        @using (Html.BeginForm())
        {
            @Form.Item("网站名称", "text", "Name", "*", Model.Name)
            @Form.Item("网站URL", "text", "LinkUrl", "*", Model.LinkUrl)
            @Form.Item("Logo提示", "text", "Title", "", Model.Title)
            @Form.Item("排序", "number", "ShowOrder", "", Model.ShowOrder)
            @Form.Select("状态", activeStates, "ActiveState", "")
            <input type="hidden" name="ImgID" value="@(Model.Annex==null?"":Model.Annex.ID)" />
            <input type="hidden" name="ID" value="@(Model.ID==null?"":Model.ID)" />
        }
    </div>

    <h1>上传Logo图片</h1>
    <div class="content">
        <input type="file" name="logo" id="logo" onchange="uploadthumb()" />
        <div id="logoimg">
            @if (Model.Annex != null)
            {
                <img src="@(Model.Annex.Url)" />
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".msg").each(function () {
            $(this).data("msg", $(this).text());
        });

        $(".default-form form").submit(function () {
            $(".msg").each(function () {
                $(this).text($(this).data("msg"));
            });

            $.ajax({
                url: '@Url.Action("SaveLink")',
                data: pharos.json.formtojson($(this)),
                dataType: 'json',
                type: 'post',
                async: false,
                success: function (data, status) {
                    if (data.validate) {
                        pharos.easyui.alert('提示', '保存成功');
                        pharos.easyui.dialog.topClose("formDiv");
                        pharos.easyui.dialog.curJquery("formDiv")("#dg").datagrid("reload");
                    }
                    else {
                        if (data.target == "") {
                            pharos.easyui.alert('系统异常', data.msg);
                        }
                        else {
                            $("input[name=" + data.target + "]").parent().find(".msg").text(data.msg);
                        }
                    }
                },
                error: function (e) { pharos.easyui.alert(e.status, e.statusText); }
            });
            return false;
        });
    })

    function uploadthumb() {
        pharos.upload.ajaxfileupload.upload('logo', '@Url.Action("UploadThumb")', '@Url.Action("GetThumbMsg")',
            function (data) {
                if (data.validate) {
                    $('input[name=ImgID]').val(data.id);
                    $("#logoimg").html("<img src=\"" + data.url + "\"/>");
                }
                else {
                    pharos.easyui.alert('错误', data.msg);
                }
            }, function (e) {
                pharos.easyui.alert(e.status, e.statusText);
            })
    }
</script>