@{
    //var activeStates = EnumHelper.GetList(typeof(ActiveState));
}

<script type="text/javascript">
    window.drpdata = window.drpdata || {};
    window.drpdata['feedtype'] = [];
    @foreach (var item in new Lunson.BLL.Services.FeedTypeService().FeedTypesItem(true))
    {
        @:window.drpdata['feedtype'].push({ value: '@item.Value', text: '@item.Text' });
        }
</script>

<table id="dg"></table>

<div id="toolbar">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="openFormDlg()">添加文章</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    文章标题：<input id="title" class="easyui-textbox" style="width:200px">
    文章类型：<input id="typeId" class="easyui-combobox" style="width:100px">
    发布时间从：<input class="Wdate" type="text" id="beginTime" style="border: 1px solid #c3d9e0" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
    到<input class="Wdate" type="text" id="endTime" style="border: 1px solid #c3d9e0" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="search">查询</a>
</div>

<script type="text/javascript">
    $feed = $("#dg");
    var statustate = [];
    @foreach (var x in EnumHelper.GetList<ActiveState>())
    {
        @:statustate.push({ value: '@x.Value', text: '@x.Text' });
        }

    $(function () {
        $("#typeId").combobox({
            data: window.drpdata['feedtype'],
            valueField: 'value',
            textField: 'text',
            editable: false,
            panelHeight: 'auto'
        });
        $("#search").click(function () {
            var title = $("#title").val();
            var type = $("#typeId").combobox('getValue');
            var beginTime = $("#beginTime").val();
            var endTime = $("#endTime").val();
            $feed.datagrid({
                url: '@Url.Action("SearchFeeds")',
                queryParams: { title: title, type: type, beginTime: beginTime, endTime: endTime }
            });
        })
    })

    $(function () {
        $feed.datagrid({
            url: '@Url.Action("GetFeeds")',
            rownumbers: true,
            fit: true,
            fitColumns:true,
            border: false,
            singleSelect: true,
            pagination: true,
            pageSize: 20,
            toolbar: '#toolbar',
            columns: [[
                { field: 'Title', title: '标题', width: 200, halign: 'center' },
                { field: 'FeedTypeName', title: '类型', width: 100, align: 'center' },
                { field: 'Author', title: '作者', width: 100, align: 'center' },
                { field: 'Original', title: '文章来源', width: 100, align: 'center' },
                {
                    field: 'PublishOn', title: '发布日期', width: 100, align: 'center'
                },
                //{ field: 'ActiveState', title: '状态', width: 50, align: 'center', formatter: function (value, row, index) { return pharos.json.getArrayValue(statustate, 'value', value, 'text', value); } },
                { field: 'Editor', title: '管理', width: 100, align: 'center', formatter: opFormat }
            ]]
        });
    })

    function opFormat(value, row) {
        var html = "";
        html += "<a href=\"javascript:void(0)\" onclick=\"openFormDlg('" + row.ID + "')\">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;";
        html += "<a href=\"javascript:void(0)\" onclick=\"removefeed('" + row.ID + "')\">删除</a>";
        return html;
    }
    function removefeed(id) {
        $.messager.defaults = { ok: "确定", cancel: "取消" };
        pharos.easyui.confirm("确认", "确认删除么？", function () {
            $.post("@Url.Action("RemoveFeed")/" + id, function () {
                $feed.datagrid("reload");
            })
        });
    }
    function openFormDlg(id) {
        var popID = "feed";
        var formTitle;
        if (!id) { formTitle = "添加文章"; id = null }
        else { formTitle = "编辑文章" }

        pharos.easyui.dialog.topOpen(popID, {
            width: 900,
            height: 600,
            modal: true,
            title: formTitle,
            content: '<iframe scrolling="auto" frameborder="0" src="@Url.Action("FeedManageForm")?id=' + id + '" style="width:100%;height:99%;"></iframe>',
            buttons: [{
                text: '保存',
                iconCls: 'icon-save',
                handler: function () { window.top.$("body").data("feedForm")(".default-form form").submit(); }
            }]
        })
    }

</script>